*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}