*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}
body{
    height: 100vh;
    overflow: hidden;
}
span{
    background: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-256.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;     /*— har heart screen ke kisi specific point par place hota hai (JS ke through)*/
    pointer-events: none;  /*pointer-events: none — taake mouse click ya hover me interfere na kare.*/
    left: 50%;
    top: 50%;
    transform:  translate(-50% , -50%);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50% , -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50% , -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}